@model GestaoDeLaboratorios.Models.Computadores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Computadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="marca" class="control-label"></label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="processador" class="control-label"></label>
                <input asp-for="processador" class="form-control" />
                <span asp-validation-for="processador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="placaMae" class="control-label"></label>
                <input asp-for="placaMae" class="form-control" />
                <span asp-validation-for="placaMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memoria" class="control-label"></label>
                <input asp-for="memoria" class="form-control" />
                <span asp-validation-for="memoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hd" class="control-label"></label>
                <input asp-for="hd" class="form-control" />
                <span asp-validation-for="hd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroPratrimonio" class="control-label"></label>
                <input asp-for="numeroPratrimonio" class="form-control" />
                <span asp-validation-for="numeroPratrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCompra" class="control-label"></label>
                <input asp-for="dataCompra" class="form-control" />
                <span asp-validation-for="dataCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
